<div class="row">
	<div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2">
		<h3>Data:</h3>
		<h6>Currently showing {{ points.length }} datapoints.</h6>
	</div>
	<div class="col-lg-2 col-lg-offset-6 col-md-2 col-md-offset-6">
		<a id="download" class="btn btn-block btn-primary">
			Download CSV
		</a>
	</div>
	<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
		<table class="table">
			<tr>
				<th>
					timestamp
				</th>
				<th>
					current
				</th>
				<th>
					device
				</th>
			</tr>
			{{#each points }}
			<tr>
				<td>
					{{ this.timestamp }}
				</td>
				<td>
					{{ this.current }}
				</td>
				<td>
					{{ this.device }}
				</td>
			</tr>
			{{/each}}
		</table>
	</div>
</div>

<script type="text/javascript">
	points = "{{pointsString}}";
	points = points.replace(/&quot;/g, '"');
	points = $.parseJSON(points);

	for(var i=0;i<points.length; i++){
		temp_array = [points[i].timestamp, points[i].current, points[i].device];
		points[i] = temp_array;
	}

	points.unshift(['timestamp', 'current', 'device']);

	console.log(points);

	var csvContent = "data:text/csv;charset=utf-8,";
	points.forEach(function(infoArray, index){
		dataString = infoArray.join(",");
		csvContent += index < points.length ? dataString+ "\n" : dataString;
	}); 

	$(document).ready(function(){
		$("#download").on('click', function(e){
			e.preventDefault();
			var encodedUri = encodeURI(csvContent);
			window.open(encodedUri);
		});
	});
</script>